* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

body {
    background-color:slategray;
    background-image: url("../assets/images/beanstalk.png");
}

nav {
    float:right;
    line-height: 15px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
}

header {
    background-color:#ffffff;
    width: 100%;
    overflow: auto;
    top: 0;
    box-shadow: 0px 2px;
}

a {
    padding: 10px;
    text-decoration:none;
}

h1 {
    float:left;
    text-align: center;
    color: white;
    background-color:#4aaaa5;
    padding:15px;
    margin: auto 0;
}

#inside-header {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

h2 {
    text-align: left;
    clear:both;
    color:#4aaaa5;
    font-size: 24px;
}

footer {
    text-align: center;
    z-index: 2;
    width: 100%;
    clear: both;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    color: black;
    border-top: 8px solid #4aaaa5
}

p {
    font-size: 16px;
    /* text-align: left; */
}

#container {
    width: 960px;
    height: auto;
    padding: 15px;
    border: solid 1px lightgray;
    margin: 0 auto;
    background: #ffffff;

}

#bio-image { 
    float: left;
    width:120px;
    padding: 15px;
}
